// Font Imports
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

// Variables
$font_color: #6474E5;
$nav_hover: #DEE3FF;
$navbar_color: white;
$font: 'Poppins', sans-serif;
$divisor_line_color: #32364d;


// CSS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: $navbar_color;
    color: $font_color;
}

.nav-links a {
    color: $font_color;
}

// Logo 
.logo {
    font-size: 32px;
}

// Navbar Menu 
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: $nav_hover;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

.services:hover .dropdown {
    display: block;
}

// Divisor Line
hr {
    color: $divisor_line_color;
}