// Font Imports
// Variables
@import 'theme.scss';


// CSS
// Welcome Image
#welcome-image {
    width: 75vw;
    height: 80vh;
    background-color: $image_background_color;
}

#intro-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

#intro-container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 3.5vw;
}

#intro-container p {
    font-size: 80px;
    font-weight: 600;
}

.special-text {
    color: $light_pink;
}

#bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Footer CSS*/
footer {
    text-align: center;
    border: 3px green;
}

