// Font Imports
// Variables
@import 'theme.scss';


// CSS
// Welcome Image
#welcome-image {
    width: 75vw;
    height: 80vh;
    background-color: $image_background_color;
}

#intro-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro-container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 3.5vw;
}

#intro-container p.intro {
    font-size: 80px;
    font-weight: 600;
}

.special-text {
    color: $light_pink;
}

#bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Footer CSS*/
footer {
    text-align: center;
    border: 3px green;
}


.double-buttons {
    $white : white;
    $btn-primary: #6d5dfc;
    $btn-primary-dark: #5b0eeb;
    $btn-primary-light: #8abdff;
    $shadow: .3rem .3rem .6rem #656873,
        -.2rem -.2rem .5rem gray;
    $inner-shadow: inset .2rem .2rem .5rem #42454c,
        inset -.2rem -.2rem .5rem gray;

    .btn {
        width: 15rem;
        height: 4rem;
        border-radius: 1rem;
        box-shadow: $shadow;
        justify-self: center;
        display: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .3s ease;
        vertical-align: middle;

        grid-column: 1 / 2;
        grid-row: 4 / 5;
        background: $btn-primary;
        box-shadow: inset .2rem .2rem 1rem $btn-primary-light,
            inset -.2rem -.2rem 1rem $btn-primary-dark,
            $shadow;
        color: #E4EBF5;

        &:hover {
            color: $white;
        }

        &:active {
            box-shadow: inset .2rem .2rem 1rem $btn-primary-dark,
                inset -.2rem -.2rem 1rem $btn-primary-light;
        }
        

        p {
            font-size: 1.2rem;
            margin-top: 0.75rem;
            margin-bottom: 0;
            text-align: center;
        }
    }
}