@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$background: #f6f9fb;
$primary: #135cfd;
$secondary: #e1eff6;
$font_color: black;
$nav_hover: #DEE3FF;
$image_background_color: #E1EFF6;
$navbar_color: white;
$font: 'Nunito', sans-serif;
$nav_font: 'Poppins', sans-serif;
$divisor_line_color: #32364d;

//Color Scheme
$dark_purple: #6474E5;
$light_purple: #9AA4EC;
$light_pink: #F8C8C6;
$dark_pink: #F4A4A4;
$blue: #4EA1D3;