{% extends "about/layout.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/form.css' %}" />
{% endblock head %}
{% block js %}
{% endblock js %}
{% block nav %}
{% endblock nav %}
{% block body %}
  <div class="row" id="client-form">
    <div class="col-md-12">
      <form method="post"
            enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Log In</h1>
        {{ form.errors }}
        <fieldset>
          {{ form.as_p }}
        </fieldset>
        <button type="submit">Log In</button>
        <p class="bottom-text">Not Registered? <a href="{% url 'accounts:new-client' %}">Create an account</a></p>
      </form>
    </div>
  </div>
{% endblock body %}
