{% extends "about/layout.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'accounts/css/form.css' %}">
{% endblock head %}
{% block js %}
{% endblock js %}
{% block nav %}
{% endblock nav %}
{% block body %}
  <div class="row" id="client-form">
    <div class="col-md-12">
      {% if created %}
        <h1>Welcome {{ user.first_name }}!</h1>
        <div class="form">
          <p>Would you like to add your business?</p>
          <button onclick="window.location.href='{% url 'accounts:new-business' %}'">
            Yes bring me there!
          </button>
          <button onclick="window.location.href='{% url 'projects:dashboard' %}'">
            No take me to the dashboard!
          </button>

        </div>
        
      {% else %}
        <form action="{% url 'accounts:new-client' %}"
              method="post"
              enctype="multipart/form-data">
          {% csrf_token %}
          <h1>Sign Up</h1>
          {{ form.errors }}
          <fieldset>
            <legend>
              <span class="number">1</span> Create Your Account
            </legend>
            <label>Username:</label>
            {{ form.username }}
            <label>Password:</label>
            {{ form.password1 }}
            <label>Password Confirmation:</label>
            {{ form.password2 }}
          </fieldset>
          <fieldset>
            <legend>
              <span class="number">2</span> Your Basic Info
            </legend>
            <label>First Name:</label>
            {{ form.first_name }}
            <label>Last Name:</label>
            {{ form.last_name }}
            <label>Email:</label>
            {{ form.email }}
            <label>Phone Number:</label>
            {{ form.phone_number }}
            <label>Address:</label>
            {{ form.address }}
            <label>Profile Picture:</label>
            {{ form.img }}
          </fieldset>
          <button type="submit">Sign Up</button>
          <p class="bottom-text">Have an account? <a href="{% url 'accounts:new-client' %}">Log In</a></p>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock body %}
