{% extends 'about/layout.html' %}
{% load static %}

{% block body %}
<div class="row" id="client-form">
    <div class="col-md-12">
      {% if created %}
        <h1>Welcome {{ user.first_name }}!</h1>
        <div class="form">
          <p>Would you like to add your business?</p>
          <button onclick="window.location.href='{% url 'accounts:new-business' %}'">
            Yes bring me there!
          </button>
          <button onclick="window.location.href='{% url 'projects:dashboard' %}'">
            No take me to the dashboard!
          </button>

        </div>
        
      {% else %}
        <form method="post"
              enctype="multipart/form-data">
          {% csrf_token %}
          <h1>Business Account</h1>
          {{ form.errors }}
          <fieldset>
            <legend>
              <span class="number">1</span>Business Info
            </legend>
            {{form}}
          </fieldset>
          <button type="submit">Sign Up</button>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock body %}