{% extends "about/layout.html" %}
{% load static %}
{% block body %}
    <div class="row" id="client-form">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Business Account</h1>
                {{ form.errors }}
                <fieldset>
                    <legend>
                        <span class="number">1</span>Business Info
                    </legend>
                    {{ form }}
                </fieldset>
                <button type="submit">Create Business</button>
            </form>
        </div>
    </div>
{% endblock body %}
