{% extends 'about/layout.html' %}
{% load static %}
{% load bootstrap5 %}
{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/form.css' %}">
{% endblock head %}
{% block body %}
    {{ created }}

    <div class="row" id="client-form">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Request Project</h1>
                {{ form.errors }}
                <fieldset>
                    <legend>
                        <span class="number">1</span>Request Info
                    </legend>
                    <div style="display:flex">
                        <label>For Business: </label> &nbsp;
                        {{ form.is_business }}
                    </div>
                    <label for="business" id="is-label">Business:</label>
                    {{ form.business }}
                    <label for="title">Title:</label>
                    {{ form.title }}
                    <label for="description">Description:</label>
                    {{ form.description }}
                </fieldset>
                <button type="submit">Request</button>
            </form>
        </div>
    </div>

    <script>
        var checkbox = document.querySelector("input[name=is_business]");
        document.getElementById("id_business").style.display = "none";
        document.getElementById("is-label").style.display = "none";

        checkbox.addEventListener('change', function() {
            if (this.checked) {
                document.getElementById("id_business").style.display = "block";
                document.getElementById("is-label").style.display = "block";
            } else {
                document.getElementById("id_business").style.display = "none";
                document.getElementById("is-label").style.display = "none";
                document.getElementById("id_business").value = "";
            }
        });
    </script>

{% endblock body %}
