{% extends 'about/layout.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'projects/css/card.css' %}">
{% endblock head %}

{% block body %}
  <div class="dashboard">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{ requests.count }} Active Requests</strong>
        </div>
        <div class="card-body">
          <div class="row">
            {% for request in requests %}
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mx-2">
                  <div class="card-body">
                    <div class="h4 m-0">
                      {{ request.title }}
                      {% if request.status == '1' %}
                        <p class="text-right lead text-warning">Pending Verification</p>
                      {% elif request.status == '2' %}
                        <p class="text-right lead text-success">Verified</p>
                      {% elif request.status == '3' %}
                        <p class="text-right lead text-danger">Rejected</p>
                      {% endif %}
                    </div>
                    <small class="text-muted">Description: {{ request.description|truncatechars:60 }}</small>
                    {% if request.business %}
                      <p>Requested by: <a href="{% url 'accounts:business-profile' request.business.id %}">{{ request.business.name }}</a></p>
                    {% else %}
                      <p>
                        Requested by: <a href="{% url 'accounts:client-profile' request.client.id %}">{{ request.client }}</a>
                      </p>
                    {% endif %}
                    <small>{{ request.updated|date:"M d, Y" }}</small>
                    {% if request.status == '1' %}
                      {% if user.is_volunteer %}
                      <div>
                        <a class="btn btn-danger" href="{% url 'projects:reject-request' request.id %}">Reject</a>
                      </div>
                      {% endif %}
                    {% else %}
                      <a class="btn btn-primary"
                        href="{% url 'projects:project-view' request.id %}">View Details</a>
                    {% endif %}
                    
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>{{ rejected.count }} Rejected Requests</strong>
        </div>
        <div class="card-body">
          <div class="row">
            {% for request in rejected %}
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mx-2">
                  <div class="card-body rejected">
                    <div class="h4 m-0">
                      {{ request.title }}
                      {% if request.status == '1' %}
                        <p class="text-right lead text-warning">Pending Verification</p>
                      {% elif request.status == '2' %}
                        <p class="text-right lead text-success">Verified</p>
                      {% elif request.status == '3' %}
                        <p class="text-right lead text-danger">Rejected</p>
                      {% endif %}
                    </div>
                    <small class="text-muted">Description: {{ request.description|truncatechars:60 }}</small>
                    {% if request.business %}
                      <p>Requested by: <a href="{% url 'accounts:business-profile' request.business.id %}">{{ request.business.name }}</a></p>
                    {% else %}
                      <p>
                        Requested by: <a href="{% url 'accounts:client-profile' request.client.id %}">{{ request.client }}</a>
                      </p>
                    {% endif %}
                    <small>{{ request.updated|date:"M d, Y" }}</small>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
