{% extends "about/layout.html" %}
{% load static %}
{% load bootstrap5 %}

{% block head %}
  <link rel="stylesheet" href="{% static 'about/css/home.css' %}">
{% endblock head %}

{% block space %}
{% endblock space %}
{% block body %}

<!--Navbar-->
{% comment %} <header>  
  <nav class="navbar">
    <!-- Logo + Name-->
    <div class="logo">LaunchLink</div>
    <ul class="nav-links">
      <div class="menu">
        <li><a href="{% url 'about:home' %}">Home</a></li>
        <li><a href="{% url 'about:home' %}">Dashboard</a></li>
        <li><a href="{% url 'about:home' %}">Contact</a></li>
        <li><a href="{% url 'about:home' %}">Sign In</a></li>
      </div>
    </ul>
  </nav>
</header>

<!--Section Divier-->
<hr> {% endcomment %}
<!--Welcome Section-->
<div id="intro-container">
  <img src="{% static 'about/images/boat.jpg' %}" alt="Welcome Image" style="width:100%; height: 100vh;">
  <div id="intro-centered" style="padding-top: 50px; width: max-content;"> 
    <p>
      {% if user.is_authenticated %}
        Hi,&nbsp;<span class="special-text">{{ user.first_name|capfirst }}</span>!
      {% else %}
        Hi,&nbsp;<span class="special-text">There</span>!
      {% endif %}
      <br>Welcome to 
      <span class="special-text auto-type"></span>
      <hr style="border: 2px solid black;">
    </p>
  </div>
</div> 

<!--Typing CDN + Scripts-->
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new Typed(".auto-type", {
        strings: ["LaunchLink.", "LaunchLink."],
        typeSpeed: 150,
        backSpeed: 150,
        loop: true
    })
</script>

<!--About Us-->
<br><br><br><br><br><br>
<div class="container px-4 text-center" style="flex-wrap: wrap;">
  <div class="row gx-5">
    <div class="col">
      <img src="{% static 'about/images/about-us-transparent.png' %}" alt="About Us Image" class="img-fluid">
    </div>
    <div class="col">
      <div class="p-3" style="text-align: left;">
        <h3><b>What is LaunchLink?</b></h3>
        <p style="font-size: 1.3vw; color: darkgray;">
          We are LaunchLink, a non-profit organization dedicated to empowering high school students and small businesses in our community through technology. At LaunchLink, we believe in the transformative power of technology and the potential it holds for inclusive growth. Together, we are shaping a brighter future for our community, one empowered small business at a time.
        </p>
      </div>
    </div>
  </div>
</div>
<br><br><br>

<!--How it works-->
<div style="width: 100%; background-color: #F0FFFF;">
  <br><br><br>
  <div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3" style="text-align: left;">
          <h3><b>How Does it Work?</b></h3>
          <p style="font-size: 1.3vw; color: darkgray;"> Our passionate team of students collaborates with local small businesses to create personalized websites to help them establish a strong online presence and reach a wider audience.</p>
        </div>
      </div>
      <div class="col">
        <img src="{% static 'about/images/target.png' %}" alt="Our Mission Image" class="img-fluid" style="width: 50%;">
      </div>
    </div>
  </div>
  <br><br><br>
</div>

<!--Joining Info-->
<br><br><br>
<div class="container px-4 text-center" style="flex-wrap: wrap;">
  <div class="row gx-5">
    <div class="col">
      <img src="{% static 'about/images/join.jpg' %}" alt="About Us Image" class="img-fluid">
    </div>
    <div class="col">
      <div class="p-3" style="text-align: left;">
        <h3><b>How Can I Join?</b></h3>
        <p style="font-size: 1.3vw; color: darkgray;">
          To begin, <a href="{% url 'accounts:new-client' %}">signup</a> and answer a few short questions. Once you have created your account, it will
          be verified by our team within 5 business days. Once your account has been verified, businesses may request for the creation or projects and
          students may sign up for a project they would like to work on.
        </p>
      </div>
    </div>
  </div>
</div>
<br><br>

<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © Copyright 2023 | Designed by: <b>Jayden L, Johvanson Z, Mahasvin S.</b> <br><!--Maybe we add the copyright liscense?-->
  </div>
</footer>

{% endblock %}