{% extends "about/layout.html" %}
{% load static %}
{% load bootstrap5 %}

{% block body %}

<!--Navbar-->
<header>  
  <nav class="navbar">
    <!-- Logo + Name-->
    <div class="logo">LaunchLink</div>
    <ul class="nav-links">
      <div class="menu">
        <li><a href="{% url 'about:home' %}">Home</a></li>
        <li><a href="{% url 'about:home' %}">Dashboard</a></li>
        <li><a href="{% url 'about:home' %}">Contact</a></li>
        <li><a href="{% url 'about:home' %}">Sign In</a></li>
      </div>
    </ul>
  </nav>
</header>

<!--Section Divier-->
<hr>

<!--Welcome Section-->
<div id="intro-container">
  <img src="{% static 'about/images/scenery.jpg' %}" alt="Snow" style="width:100%; height: 98%;">
  <div id="intro-centered"> <span class="special-text"> Hi! </span> Welcome to <span class="special-text"> LaunchLink. </span></div>
</div> 



{% endblock %}