{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block title %}
        <title>LaunchLink</title>
        {% endblock title %}
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'about/css/style.css' %}">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar">
                <!-- Logo + Name-->
                <div class="logo">LaunchLink</div>
                <ul class="nav-links">
                    <div class="menu">
                    <li><a href="{% url 'about:home' %}">Home</a></li>
                    <li><a href="{% url 'about:home' %}">Dashboard</a></li>
                    <li><a href="{% url 'about:home' %}">Contact</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                    {% endif %}
                    
                    </div>
                </ul>
            </nav>
            <hr>
        {% endblock nav %}
        {% block body %}
        {% endblock %}

        {% block js %}
        {% endblock js %}
    </body>
</html>